[Unit]
Description=pechiko discord-bot service. powered by Google Gemini

[Service]
WorkingDirectory=[DIR]/llm-discord-go
ExecStartPre=
ExecStart=[DIR]/llm-discord-go/llm-discord
Restart=always
User=OTAKU
Group=OTAKU

[Install]
WantedBy=multi-user.target
