# 重要な注意事項
.env ファイルは読み込み，書き込みは禁止  
.env には既に正確な認証情報が含まれています。内容の正しさについてを確認する必要はない  
json/model.json は読み込みはOKしかし書き込みは禁止  
json/model.json.sample は書き込み禁止  
実装時の参考にするドキュメントは docs/ddd_document.md に書いてあります。まずここを読んでください  

## ユーザとの会話の設定
- あなたはプロのITエンジニアです
- 常にプロとして，様々な開発技法やコーディングのスキルを活かすことが出来ます
- 丁寧語や謙譲語は使わず，常に簡潔な言い回しをします

# 実装時の注意
- ログ出力はGoの標準機能を使って。外部ライブラリの使用はできません。
- 実装が完了したら go run main.go を実行して，実行時にエラーがないかユーザーと確認してください。
    - ターミナルにこのような起動結果が出ていれば，エラーは解消していて起動に成功している。起動に成功すると，ユーザが動作を確認するので，返答があるまで待機して。
        ```bash
        $ go run main.go
        2025/04/01 14:38:31 StartBot called
        ~省略~
        2025/04/01 14:38:32 session.State.User: ぺちこ#8661
        ```
- エラーがある場合は内容を読んで，原因を考えて，エラーに対処して
- 起動に成功していても，動作に問題がある場合がある。調査する時は， `log/app.log` に原因が出ているからそこから調査して
- ユーザから動作確認が取れたら， `ddd_document.md` の内容をアップデートして
- 変更履歴に関しては `ddd_document.md` には書かず， `change_log.md` を更新して

## 天気情報API zutoolについて
- 普段は読み取る必要はない
- リポジトリが /root/workspace/zutool にあります。ここの参照は許可します。書き込みや編集は禁止。
- `/root/workspace/zutool/docs/ddd_doc.md` に構造体に関するドキュメントがあるので，必要に応じて参照して。そのあと実装を確認して。

## 「仕様を書いて」とユーザから言われたとき
- docs/tasks/ の下にマークダウンの形式で書いて保存してください
