{
    "name": "Gemini-Bot",
    "model_name": "gemini-2.5-pro-preview-05-06",
    "secondary_model_name": "gemini-2.0-flash",
    "icon": "https://cdn.discordapp.com/avatars/.png",
    "max_history_size": 20,

    "prompts": {
        "default": "あなたは親切なDiscord Botです",
        "otaku1": "あなたはオタクにやさしいギャルのようにユーザと会話します",
        "specialUser1": "あなたはとても丁寧に会話します。"
    },
    "about": {
        "title": "llm-discord (Github)🔗",
        "description": "大規模言語モデルになっちゃった！ \n いったいこれからどうなっちゃうの～？？",
        "url": "https://github.com/eraiza0816/llm-discord"
    },
    "ollama": {
        "enabled": false,
        "api_endpoint": "http://127.0.0.1:11434/api/generate",
        "model_name": "gemma3:12b-it-q8_0"
    },
    "other_model_name":"gemini-2.0-flash"
}
