{
    "name": "Gemini-Bot",
    "model_name": "gemini-2.0-flash",
    "icon": "https://cdn.discordapp.com/avatars/.png",

    "prompts": {
        "default": "You are a helpful assistant on Discord.",
        "otaku": "You are talking to your creator, otaku!",
        "specialUser": "You are a funny and playful assistant."
    }
}
