{
  "title": "ぺちAI 使い方",
  "url": "https://github.com/eraiza0816",
  "description": "ソースコードは[GitHub](https://github.com/eraiza0816)\n",
  "fields": [
    {
      "name": "/about",
      "value": "このBOTの説明を表示。今出てるこれ。\n"
    },
    {
      "name": "/chat",
      "value": "GoogleのGeminiとチャットができます。ちょっとだけ話題を覚えてます。\n 1分間に15回やりとりできます。\nいまはまだ検索は出来ないけど，最新のお天気のことなら喋れるよ！\n"
    }
  ],
  "color": "#00b0f4",
  "footer": {
    "text": "Powered by eraiza0816",
    "icon_url": "https://cdn.discordapp.com/avatars/1303009280563085332/75f3aef8ac15796ee6949a578a334745.png"
  },
  "timestamp": 1739523600
}
